@import '~antd/dist/antd.css';
@import "/node_modules/react-grid-layout/css/styles.css";
@import "/node_modules/react-resizable/css/styles.css";

.ant-menu-item-selected {
  background-color: #dbdce6 !important;
}

.items {
  font-weight: 700;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
}
.avatar {
  float: right;
  margin: 16px 24px 16px 0;
}

.layout{
  margin: 16px 28px 50px 28px;
}

.card{
  box-shadow: 0px 2px 4px rgba(141, 149, 166, 0.1);
  border-radius: 4px;
  background-color: aliceblue;
}